@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Georgia', serif;
  font-weight: 400;
  color: #eee;
  background: #100000;

  display: grid;
  place-items: center;

  img {
    padding-top: 16px;
    width: 500px;
  }

  .body {
    &__error {
      text-align: center;
      padding: 10px;
      background-color: #ee22222c;
      width: 50%;
      padding: 16px;
      font-size: 20px;
      color: #8e0000;
      font-weight: 700;
      border-radius: 50em;
    }

    &__loader {
      margin-top: 4em;
      transform: rotateZ(45deg);
      perspective: 1000px;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      color: #fff;

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        border-radius: 50%;
        transform: rotateX(70deg);
        animation: 1s spin linear infinite;
      }

      &:after {
        color: #ff3d00;
        transform: rotateY(70deg);
        animation-delay: 0.4s;
      }

      & {
        @keyframes rotate {
          0% {
            transform: translate(-50%, -50%) rotateZ(0deg);
          }
          100% {
            transform: translate(-50%, -50%) rotateZ(360deg);
          }
        }

        @keyframes rotateccw {
          0% {
            transform: translate(-50%, -50%) rotate(0deg);
          }
          100% {
            transform: translate(-50%, -50%) rotate(-360deg);
          }
        }

        @keyframes spin {
          0%,
          100% {
            box-shadow: 0.2em 0px 0 0px currentcolor;
          }
          12% {
            box-shadow: 0.2em 0.2em 0 0 currentcolor;
          }
          25% {
            box-shadow: 0 0.2em 0 0px currentcolor;
          }
          37% {
            box-shadow: -0.2em 0.2em 0 0 currentcolor;
          }
          50% {
            box-shadow: -0.2em 0 0 0 currentcolor;
          }
          62% {
            box-shadow: -0.2em -0.2em 0 0 currentcolor;
          }
          75% {
            box-shadow: 0px -0.2em 0 0 currentcolor;
          }
          87% {
            box-shadow: 0.2em -0.2em 0 0 currentcolor;
          }
        }

        @keyframes stretch {
          0% {
            letter-spacing: 5px;
          }
          50% {
            letter-spacing: 10px;
          }
          100% {
            letter-spacing: 5px;
          }
        }
      }
    }
  }
}

.breed-select {
  font-size: 20px;
  background-color: #edc066;
  color: #4e3608;
  border: 4px solid #1b1b1b;
  width: 500px;
  height: 64px;
  font-weight: 500;
  border-radius: 4px;
  display: flex;
  margin-top: 20px;
  scrollbar-color: gray;
}

.cat-info.hidden {
  display: none;
}

.cat-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  color: #2d2126;
  padding-left: 20px;
}

.cat-card {
  display: flex;
  gap: 50px;
}

.cat-description {
  width: 500px;
  color: #edc066;

  h4,
  h5 {
    font-size: 12px;
    color: #be943f;
  }

  p {
    color: #ffe0a3;
  }
}
